@powder-blue: #add8e6;
@aliceblue: #F0F8FF;
@blue: #0000FF;
@light_green: #D8FCD8;
@pink: #FFC0CB;
@mistyrose: #ffe4e1 ;
@lightgreen: #90ee90;
@cornflowerblue:#6495ed;
@springgreen:#32cd32;
@whitesmoke: #f5f5f5;
@gray: #A7A7BB;

.c-pink {
  background-color: @pink;
}

.c-mist {
  background-color: @mistyrose;
}
.background-blue{
  background-color: @powder-blue;
}

.background-pink{
  background-color: @pink;
}

//Brown
@01: #ECEFF1;
@50: #EFEBE9;
@100: #D7CCC8;
@200: #BCAAA4;
@300: #A1887F;
@400: #8D6E63;

.c-01 {
  background-color: @01;
}

.c-50 {
  background-color: @50;
}

.c-100 {
  background-color: @100;
}

.c-200 {
  background-color: @200;
}

.c-300 {
  background-color: @300;
}

.color-blue {
  color: blue;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}