.modal-controls {
  flex: 1 1 auto;
  background-color: @powder-blue;
  &.message_conteiner{
    //padding-left: 5px;
  }
}
.container{
  height: 90px;
  flex: 0 1 auto;
  overflow-y: scroll;
  border: 2px solid @blue;
  background-color: @aliceblue;
  //margin: 1em;
}
.onScroll{
  min-height: 90px;
  height: inherit;
}
.modal-main-btn{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btnEditPanel{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.btnEdit{
  padding: 0.1em;
  margin: 0.2em;
}
.check:checked{
  background-color: red;
}
.lblStyle{
  width: 30px;
  text-align: center;
  background: @aliceblue;
  border: 1px solid grey;
}


