.login-container-global {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &.hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
}

.flex_login {
  background: linear-gradient(to top, @cornflowerblue, @springgreen);
  margin: 20px 0;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  justify-content: center;
}

.flex-itm {
  margin: 5px;
  padding: 1px;
  width: 180px;
  &.register{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.button_login {
  width: 180px;
}

.hidden_login {
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}