body {
  background-color: @light_green;
  margin: 0;
}

.hide{
  display: none !important;
}

.hidden{
  visibility: hidden !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  justify-content: space-around;
}

.marginT {
  margin-top: 5px;
}

.p-fx {
  position: fixed;
}

.login-outer-container {
  &.hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    opacity: 0;
  }
}

.w-100p {
  width: 100%;
}

.p-t-b {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.form-small {
  background: linear-gradient(to top, @cornflowerblue, @springgreen);
  margin: 20px 0;
  padding: 5px;
  max-width: 400px;
}

.waiter {
  top: 0;
  background-color: rgba(207, 207, 207, 0.5);
  z-index: 200;
}