body {
  background-color: @50;
  margin: 0;
}

.hide{
  display: none !important;
}

.hidden{
  visibility: hidden !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  justify-content: space-around;
}

.margin-t-b {
  margin: 0.4em 0 0.4em 0;
}

.p-fx {
  position: fixed;
}

.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.login-outer-container {
  &.hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    opacity: 0;
  }
}

.w-100p {
  width: 100%;
}

.h-100p {
  height: 100%;
}
.h-inherit{
  height: inherit;
}

.p-t-b {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.p-t {
  padding-top: 0.1em;
}

.width-40px{
  width: 40px;
  min-width: 40px;
}

.form-small {
  background: linear-gradient(to top, @100, @400);
  margin: 20px 0;
  padding: 5px;
  max-width: 400px;
}

.waiter {
  top: 0;
  background-color: rgba(207, 207, 207, 0.5);
  z-index: 200;
}

.pull-for-left-panel {
  float: right;
}

.pull-for-right-panel {
  float: left;
}

.padding-l-r{
  padding: 0 1px 0 1px;
}

.overflow-a{
  overflow: auto;
}

.opacity-05{
  opacity: 0.5;
}

.opacity-0{
  opacity: 0;
}

.check-box-size{
  width: 17px;
  height: 17px;
}

.description{
  position: absolute;
  border: 1px solid rgb(186, 35, 136);
  box-shadow: 0 0 20px rgba(196, 9, 55, 1);
  background-color: cornsilk;
  overflow-wrap: break-word;
  z-index: 200;
}

.min-width-350{
  min-width: 350px;
}

.cursor-not-allowed{
  cursor: not-allowed;
}

.description_icon-position{
  position: absolute;
  top: -0.13em;
  right: -0.1em;
}
