.modal {
  position: relative;
  width: 350px;
  display: flex;
  flex-direction: column;
  height: inherit;
}
.modal-header {
  padding: 0.3em;
  flex: 0 0 auto;
  background-color: @powder-blue;
  justify-content: center;
}
.modal-body {
  background-color: @pink;
  flex: 1 1 auto;
  overflow-y: scroll;
}

.message{
  height: initial;
  border-radius: 5px;
  background-color: @aliceblue;
  overflow-wrap: break-word;
  margin:  0 2px 0 2px;
}

.myMessage{
  background-color: @powder-blue;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.dateFormat{
  text-align: end;
  color: grey;
  font-size: 0.7em;
  right: 0;
  bottom: 0;
}

.border-radius-5{
  border-radius: 5px;
}