.modal {
  position: relative;
  width: 350px;
  display: flex;
  flex-direction: column;
  height: inherit;
}
.modal-header {
  margin-top: 1em;
  padding: 0.3em;
  flex: 0 0 auto;
  background-color: @powder-blue;
  justify-content: center;
}
.modal-body {
  background-color: @pink;
  padding: 1em;
  flex: 1 1 auto;
  padding: 11px 2px 11px 20px;
  overflow-y: scroll;
}

.message{
  height: initial;
  margin-top: 1em;
  border-radius: 5px;
  background-color: @aliceblue;
}