.panel {
  height: 100%;
  max-width: 300px;
  &.right-panel {
    right: 0;
  }
  &.left-panel {
    left: 0;
  }
}

.panel-button {
  position: absolute;
  height: 50px;
  &.right-panel-button {
    right: 100%;
  }
  &.left-panel-button {
    left: 100%;
  }
}

.clear {
  clear: both;
}

.panel-body {
  width: 300px;
  clear: both;
  padding: 5px;
}

.animate{
  transition: left  0.2s ease, right  0.2s ease;
}