.flex {
  display: flex;
  &.wrap {
    flex-wrap: wrap;
  }
  &.justContent {
    justify-content: center;
  }
  &.justContSA{
    justify-content: space-around;
  }
  &.justContSB{
    justify-content: space-between;
  }
}

.flex-item {
  width: 100%;
}

.background {
  background-color: @pink;
}

.elements {
  padding: 0.15em;
}

.inputWidth {
  width: 30px;
}

.title{
  padding: 0.4em 0.3em;
  position: absolute;
  top: -1.1em;
}

.textbox{
  border: 0.1em solid #8D6E63;
  margin: 1em 0.3em;
  position: relative;
  padding: 1em 0.5em 0.5em;
}
