.flex {
  display: flex;
  &.wrap {
    flex-wrap: wrap;
  }
  &.justContent {
    justify-content: center;
  }
}

.flex-item {
  width: 100%;
}

.background {
  background-color: @pink;
}

.elements {
  padding: 0.5em;
}

.inputWidth {
  width: 30px;
}

button:hover{
  background-color: @lightgreen;
}