.modal {
  position: relative;
  width: 350px;
  display: flex;
  flex-direction: column;
  height: inherit;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
}
.modal-header {
  flex: 0 0 auto;
  background-color: #A1887F;
  justify-content: center;
}
.modal-body {
  background-color: #D7CCC8;
  flex: 1 1 auto;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.message {
  height: initial;
  border-radius: 5px;
  background-color: #EFEBE9;
  word-break: break-all;
  margin: 0 2px 0 2px;
}
.myMessage {
  background-color: #ECEFF1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.date-format {
  text-align: end;
  color: grey;
  font-size: 0.7em;
  right: 0;
  bottom: 0;
}
.border-radius-5 {
  border-radius: 5px;
}
.user-info {
  font-size: 0.7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 35px;
  border-radius: 5px;
}
.toggle-visible {
  box-shadow: 0 0 3px 6px rgba(109, 76, 65, 0.5);
  background: rgba(0, 0, 0, 0.4);
}
.box-shadow-10 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.c-pink {
  background-color: #FFC0CB;
}
.c-mist {
  background-color: #ffe4e1;
}
.background-blue {
  background-color: #add8e6;
}
.background-pink {
  background-color: #FFC0CB;
}
.c-01 {
  background-color: #ECEFF1;
}
.c-50 {
  background-color: #EFEBE9;
}
.c-100 {
  background-color: #D7CCC8;
}
.c-200 {
  background-color: #BCAAA4;
}
.c-300 {
  background-color: #A1887F;
}
.color-blue {
  color: blue;
}
.color-red {
  color: red;
}
.color-green {
  color: green;
}
body {
  background-color: #EFEBE9;
  margin: 0;
}
.hide {
  display: none !important;
}
.hidden {
  visibility: hidden !important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  justify-content: space-around;
}
.margin-t-b {
  margin: 0.4em 0 0.4em 0;
}
.margin-02em {
  margin: 0.2em;
}
.p-fx {
  position: fixed;
}
.p-rel {
  position: relative;
}
.p-abs {
  position: absolute;
}
.login-outer-container.hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  opacity: 0;
}
.w-100p {
  width: 100%;
}
.w-90p {
  width: 90%;
}
.w-inh {
  width: inherit;
}
.h-100p {
  height: 100%;
}
.p-0 {
  padding: 0;
}
.p-t-b {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.p-r-l-1em {
  padding-right: 1em;
  padding-left: 1em;
}
.p-r-l-04em {
  padding-right: 0.4em;
  padding-left: 0.4em;
}
.p-tb-03em-lr-1em {
  padding: 0.3em 1em;
}
.p-b-1em {
  padding-bottom: 1em;
}
.p-t {
  padding-top: 0.1em;
}
.p-05em {
  padding: 0.5em;
}
.m-r-40px {
  margin-right: 40px;
}
.padding-l-r {
  padding: 0 1px 0 1px;
}
.width-40px {
  width: 40px;
  min-width: 40px;
}
.form-small {
  background: linear-gradient(to top, #D7CCC8, #8D6E63);
  margin: 20px 0;
  padding: 5px;
  max-width: 400px;
}
.waiter {
  top: 0;
  background-color: rgba(207, 207, 207, 0.5);
  z-index: 200;
}
.pull-for-left-panel {
  float: right;
}
.pull-for-right-panel {
  float: left;
}
.overflow-a {
  overflow: auto;
}
.opacity-05 {
  opacity: 0.5;
}
.opacity-0 {
  opacity: 0;
}
.check-box-size {
  width: 17px;
  height: 17px;
}
.description {
  position: absolute;
  border: 1px solid #A1887F;
  box-shadow: 0 0 10px #8D6E63;
  background-color: #EFEBE9;
  word-break: break-all;
  z-index: 200;
}
.min-width-350 {
  min-width: 350px;
}
.min-width-4em {
  min-width: 4em;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.description_icon-position {
  position: absolute;
  top: -0.13em;
  right: -0.1em;
}
.min-height-2-6em {
  min-height: 2.6em;
}
.popup {
  opacity: 0;
  background-color: rgba(207, 207, 207, 0.7);
  left: 0;
  top: 0;
  z-index: 100;
  transform: scale(0);
  transition: transform 0.2s 0s cubic-bezier(0.23, 1, 0.44, 0.91), opacity 0.2s 0s cubic-bezier(0.23, 1, 0.44, 0.91);
}
.popup.hidden-popup {
  position: fixed;
  height: 1px;
  width: 1px;
  top: -100px;
  left: -100px;
}
.popup.in {
  opacity: 1;
  transform: scale(1);
}
.border-radius-05em {
  border-radius: 0.5em;
}
.border-radius-04em {
  border-radius: 0.4em;
}
.border-popup-footer {
  border-top: 0.1em solid #BCAAA4;
}
.text-line-center {
  margin: 1.2em 0 0;
  position: relative;
  padding: 1em 0.5em 0;
}
.text-line-center.success {
  border-top: 1px solid green;
}
.text-line-center.confirm {
  border-top: 1px solid blue;
}
.text-line-center.error {
  border-top: 1px solid red;
}
.error .color {
  color: red;
}
.confirm .color {
  color: blue;
}
.success .color {
  color: green;
}
.title-popup {
  position: relative;
  height: 0.3em;
  top: -1.7em;
}
img {
  vertical-align: text-top;
  -webkit-user-drag: none;
}
.text-bold {
  font-weight: bold;
}
.margin-b-em {
  margin-bottom: 0.5em;
}
.border-01em-red {
  border: 0.1em solid red;
}
.modal-controls {
  flex: 1 1 auto;
}
.container {
  height: 90px;
  flex: 0 1 auto;
  overflow-y: scroll;
  border: 2px solid #A7A7BB;
  background-color: #F0F8FF;
  word-break: break-all;
}
.onScroll {
  min-height: 90px;
  height: inherit;
}
.modal-main-btn {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btnEditPanel {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.check:checked {
  background-color: red;
}
.lblStyle {
  width: 30px;
  text-align: center;
  background: #F0F8FF;
  border: 1px solid grey;
}
.panel {
  height: 100%;
  max-width: 700px !important;
}
.panel.right-panel {
  box-shadow: -4px 0px 10px 3px rgba(109, 76, 65, 0.7);
}
.panel.left-panel {
  box-shadow: 4px 0px 10px 3px rgba(109, 76, 65, 0.7);
}
.clear {
  clear: both;
}
.animate {
  transition: left  0.2s ease, right  0.2s ease;
}
.tr-transform {
  transition: transform 0.2s ease-out;
  transform-origin: 0 0;
  transform: scale(1, 0);
}
.tr-transform.opened {
  transform: scale(1, 1);
}
.transition-all {
  transition: all  0.2s ease;
}
.transition-all.rotate-90 {
  transform: rotate(90deg);
}
.flex {
  display: flex;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.justContent {
  justify-content: center;
}
.flex.justContSA {
  justify-content: space-around;
}
.flex.justContSB {
  justify-content: space-between;
}
.flex-item {
  width: 100%;
}
.background {
  background-color: #FFC0CB;
}
.elements {
  padding: 0.15em;
}
.inputWidth {
  width: 30px;
}
.title {
  padding: 0.4em 0.3em;
  position: absolute;
  top: -1.1em;
}
.textbox {
  border: 0.1em solid #8D6E63;
  margin: 1.2em 0.3em;
  position: relative;
  padding: 1em 0.5em 0.5em;
}
.w100p {
  width: 100%;
}
.flex-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.flex-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex-item-w50p {
  flex: 1 1 50%;
}
.flex-item-1-auto {
  flex: 1 1 auto;
}
.flex-item-auto {
  flex: 0 0 auto;
}
.flex-item-1-0p {
  flex: 1 1 0%;
}
.flex-stretch {
  display: flex;
  align-content: stretch;
  align-items: stretch;
}
.flex-sp-between {
  display: flex;
  justify-content: space-between;
}
.flex-sp-end {
  display: flex;
  justify-content: flex-end;
}
.flex-sp-around {
  display: flex;
  justify-content: space-around;
}
.flex-sp-start {
  display: flex;
  justify-content: flex-start;
}
.flex-just-center {
  display: flex;
  justify-content: center;
}
.flex-dir-col {
  display: flex;
  flex-direction: column;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
.flex-align-c {
  display: flex;
  align-items: center;
}
.align-c {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.flex {
  display: flex;
}
.flex-grow_1 {
  flex-grow: 1;
}
button {
  position: relative;
  transition: background-color 0.2s ease;
  cursor: pointer;
  font-size: 1em;
}
.button-margin-height {
  box-shadow: 0 15px 5px 2px rgba(253, 253, 253, 0.5) inset;
  border-radius: 0.4em;
  min-height: 1.6em;
  margin: 0.2em;
}
.button-inset {
  min-width: 180px;
  padding: 2px 6px 2px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 0.4em;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5) inset;
}
.button-inset:active {
  top: -1px;
}
.button-inset:hover {
  background-color: lightblue;
}
.button-convex {
  border-radius: 0.4em;
  box-shadow: 2px -1px 3px 1px rgba(0, 0, 0, 0.25);
}
.button-convex:active {
  top: 1px;
}
.button-inset-square {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5) inset;
}
.button-inset-square:active {
  top: 1px;
}
.button-inset-white {
  box-shadow: 0px -2px 3px 1px rgba(255, 255, 255, 0.75) inset;
  border-radius: 0.4em;
}
.button-inset-white:active {
  top: 1px;
}
.button-small-not-padding {
  width: 35px;
  height: 35px;
  padding: 0;
  margin-top: 0.3em;
}
.button-margin {
  box-shadow: 0 1px 5px 1px rgba(253, 253, 253, 0.5) inset;
  border-radius: 0.4em;
  margin: 0.2em;
}
.panel-button {
  position: absolute;
  height: 50px;
  outline: none;
}
.panel-button.right-panel-button {
  right: 100%;
  margin: 0 0 0.2em 0.2em;
  border-radius: 0.4em 0 0 0.4em;
  box-shadow: -2px 0 10px 3px rgba(109, 76, 65, 0.7);
  border: 2px buttonface;
  border-style: solid solid outset inset;
}
.panel-button.right-panel-button:active {
  border-style: inset;
  border-bottom: none;
  border-left: none;
}
.panel-button.left-panel-button {
  left: 100%;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0 0.4em 0.4em 0;
  border-left: none;
  box-shadow: 2px 0 10px 3px rgba(109, 76, 65, 0.7);
}
.activeTollbar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #D7CCC8;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2), inset 0px -2px 0 rgba(0, 0, 0, 0.1), inset 0 0 22px rgba(0, 0, 0, 0.1);
}
button:disabled {
  cursor: not-allowed;
}
.border-c300 {
  border: 2px solid #A1887F;
}
.chat-resize-container {
  position: absolute;
  cursor: e-resize;
  z-index: 200;
}
.chat-resize-container.draggable {
  width: 100%;
  height: 100%;
}
.chat-resize-container.draggable .line {
  width: 2px;
  height: 100%;
  background-color: #cccc00;
  box-shadow: 0 3px 7px #cccc00;
  position: absolute;
}
.chat-splitter-item {
  position: absolute;
  width: 20px;
  height: 100%;
  z-index: 20;
  box-shadow: 0 0 3px 6px rgba(109, 76, 65, 0.5);
  background-color: black;
  opacity: 0.4;
}
.chat-splitter-item.right {
  right: 0;
}
.chat-splitter-item:hover {
  cursor: e-resize;
}
.icon-add_blog_icon {
  background: url(/__build__/svg/add_blog_icon.svg?a030973d41d25791ffcdb0e0229fa2d7);
}
.icon-add_chat_icon {
  background: url(/__build__/svg/add_chat_icon.svg?3ea94df2eaae9494135295f07c98c10e);
}
.icon-add_user_icon {
  background: url(/__build__/svg/add_user_icon.svg?5883951ac4ca143ce21412a26b29c0b7);
}
.icon-aling_center_icon {
  background: url(/__build__/svg/aling_center_icon.svg?a6bed7f767a6b903512da3f49fdbe0f2);
}
.icon-aling_left_icon {
  background: url(/__build__/svg/aling_left_icon.svg?5ddb70fa2bda7df474e25f0deb4cf911);
}
.icon-aling_right_icon {
  background: url(/__build__/svg/aling_right_icon.svg?f3ddde150bfddd7ae3dd5ee4b976638e);
}
.icon-back_arrow {
  background: url(/__build__/svg/back_arrow.svg?ba728ea361b60d7203c56d73db54d052);
}
.icon-blogs_icon {
  background: url(/__build__/svg/blogs_icon.svg?d6793522ef2eee640390bb66cd5060ce);
}
.icon-bold_icon {
  background: url(/__build__/svg/bold_icon.svg?7b972cafa1911b08ee17c3a620bfd86d);
}
.icon-cancel_icon {
  background: url(/__build__/svg/cancel_icon.svg?0af60dbb71d4cc079710c08b61b27213);
}
.icon-change_message_icon {
  background: url(/__build__/svg/change_message_icon.svg?bce154acef3326b910a4ac3f297e1d30);
}
.icon-change_user_info_icon {
  background: url(/__build__/svg/change_user_info_icon.svg?4c7796fe503932e0dcca883b85523958);
}
.icon-chats_icon {
  background: url(/__build__/svg/chats_icon.svg?b4040c8ad98fa9f001b551454bcd76fb);
}
.icon-color_text_icon {
  background: url(/__build__/svg/color_text_icon.svg?c86005e283bc1866d59ea221e981e7cc);
}
.icon-connections_icon {
  background: url(/__build__/svg/connections_icon.svg?9ce35fc70a20ceafec7aaa10f10cfeae);
}
.icon-description_icon {
  background: url(/__build__/svg/description_icon.svg?070b8fd58da9482a46869112103a3dc3);
}
.icon-exit_icon {
  background: url(/__build__/svg/exit_icon.svg?6edf925e35590b7f77b255ef85e96e61);
}
.icon-filter_chats_icon {
  background: url(/__build__/svg/filter_chats_icon.svg?d1cafbce3030b74ac4e66fe350ab5cd2);
}
.icon-filter_log_messages_icon {
  background: url(/__build__/svg/filter_log_messages_icon.svg?53e8bba00cccb6c09f40670bf5f9c673);
}
.icon-filter_messages_icon {
  background: url(/__build__/svg/filter_messages_icon.svg?f655f7c48775d3138b8733801e2cfdf2);
}
.icon-filter_users_icon {
  background: url(/__build__/svg/filter_users_icon.svg?7c6b4ffe5d2b1d5cc88b71ede5114c83);
}
.icon-folder_icon {
  background: url(/__build__/svg/folder_icon.svg?8aa81da3293d805fd05d105c9459a54b);
}
.icon-forward_arrow {
  background: url(/__build__/svg/forward_arrow.svg?173c78884d85693ce0f7b793b5a1717b);
}
.icon-italic_icon {
  background: url(/__build__/svg/italic_icon.svg?2054a071b0d473f818afac03aca6e0ec);
}
.icon-messages_icon {
  background: url(/__build__/svg/messages_icon.svg?a9a4e17bbd14325ff3af716970a896c8);
}
.icon-new_blog_icon {
  background: url(/__build__/svg/new_blog_icon.svg?e31d8a25d746a07893cab0e32f2a6769);
}
.icon-new_chat_icon {
  background: url(/__build__/svg/new_chat_icon.svg?2f148a426de9861da73db6fc82366956);
}
.icon-notepad_icon {
  background: url(/__build__/svg/notepad_icon.svg?738b3123f7365159b5bfddf8f21e4d9c);
}
.icon-ok_icon {
  background: url(/__build__/svg/ok_icon.svg?dad76a9e1739be954b25257e80756f38);
}
.icon-open_icon {
  background: url(/__build__/svg/open_icon.svg?4676fac2ddf1ce61f33deee1edbb9e75);
}
.icon-pointer_icon {
  background: url(/__build__/svg/pointer_icon.svg?73dcad7d8d71f23b4ab069deb7f1ad18);
}
.icon-save_exit_icon {
  background: url(/__build__/svg/save_exit_icon.svg?b495c6a3f8196fc5168851cc0eccd704);
}
.icon-save_not_exit_icon {
  background: url(/__build__/svg/save_not_exit_icon.svg?4f71d422b58bbb3b5b8cb1ab104faa32);
}
.icon-save_open_icon {
  background: url(/__build__/svg/save_open_icon.svg?b40e1c9e702c6957370e6fd04d8635d5);
}
.icon-send_icon {
  background: url(/__build__/svg/send_icon.svg?3a9bebd69916d51188ae2578af7d3167);
}
.icon-settings_chat_icon {
  background: url(/__build__/svg/settings_chat_icon.svg?761181a8fb2d5f8d719f1e29ae5b6263);
}
.icon-settings_panel {
  background: url(/__build__/svg/settings_panel.svg?8dd75673b7a582207eb432d71f116abc);
}
.icon-user_icon {
  background: url(/__build__/svg/user_icon.svg?4bd00b8f9eaa8f158f55431c95e155e7);
}
.icon-users_icon {
  background: url(/__build__/svg/users_icon.svg?477f6da0b3d80365281b9082b4cbda03);
}
