<% var _in = arguments[0]; %>
<input data-role="<%= _in.config.data_role%>" type="<%= _in.config.type%>" class="<%= _in.config.class%>"
<% if(_in.config.data_key) { %> value= "<%= _in.data[_in.config.data_key] %>" <%} %>
<% if(_in.config.id){ %> id="<%= _in.config.id%>" <%}%>
<% if(_in.config.data_main){ %> data-main="<%= _in.config.id%>" <%}%>
<% if(_in.config.disabled === true){ %> disabled <%}%>
<% if(_in.config.onkeypress){ %> onkeypress="<%= _in.config.onkeypress %>" <%}%>
<% if(_in.config.data_location){ %> data-location="<%= _in.config.data_location%>" <%}%>
 >
<%= _in.config.text%>
</input>
