<section class="modal">
    <header data-role="header_container" class="modal-header">
        <div data-role="waiter_container"></div>
    </header>
    <div data-role="body_container" class="modal-body" param-content="message"><!---->
        <!--<div data-role="messages_container" class="modal-body"></div>-->
    </div>
    <footer class="flex-item-auto">
        <div data-role="editor_container"></div>
        <div data-role="go_to_container"></div>
        <div data-role="pagination_container" class="flex filter_container justContent background"></div>
    </footer>
</section>
