<% var _in = arguments[0];%>
<section class="modal" data-chat_id="<%= _in.chat.chatId %>">
    <div class="chat-splitter-item hidden" data-role="splitter_item"></div>
    <div class="chat-splitter-item right hidden" data-role="splitter_item"></div>
    <header data-role="header_container" class="modal-header">
        <div data-role="waiter_container"></div>
    </header>
    <div data-role="extra_toolbar_container" class="flex-sp-around flex-shrink-0 p-t c-200">extra_toolbar_container</div>
    <div data-role="filter_container" class="flex wrap background-pink flex-shrink-0 c-200">filter_container</div>
    <div data-role="body_container" class="modal-body" param-content="message"><!---->
        <!--<div data-role="messages_container" class="modal-body"></div>-->
    </div>
    <footer class="flex-item-auto">
        <div data-role="editor_container" class="c-200"></div>
        <div data-role="go_to_container" class="c-100"></div>
        <div data-role="pagination_container" class="flex filter_container justContent c-200"></div>
    </footer>

</section>
