<% var array = arguments[0]; %>
<% var array_pagination = array.config.filter( function(obj){ return obj.service_id === "pagination" } ) %>
<% var array_per_page = array.config.filter( function(obj){ return obj.service_id === "per_page" } ) %>
<% var array_per_page_nrte = array_per_page.filter( function(obj){ return obj.redraw_mode === "nrte" } ) %>
<% var array_per_page_rte = array_per_page.filter( function(obj){ return obj.redraw_mode === "rte" } ) %>


<div class="flex-item flex background-blue">
    <div class="elements flex-align-c">
        <% array_pagination.forEach(function (_config) { %>
        <%= array.triple_element_template({
        config: _config,
        data: array.data,
        button_template: array.button_template,
        input_template: array.input_template,
        label_template: array.label_template
        }) %>
        <% }) %>
    </div>
    <div class="elements flex-align-c">

        <% if(array.data.mode_change === 'nrte') { %>
            <% array_per_page_nrte.forEach(function (_config) { %>
                <%= array.triple_element_template({
                config: _config,
                data: array.data,
                button_template: array.button_template,
                input_template: array.input_template,
                label_template: array.label_template
                }) %>
            <% }) %>
        <% } else { %>
            <% array_per_page_rte.forEach(function (_config) { %>
            <%= array.triple_element_template({
            config: _config,
            data: array.data,
            button_template: array.button_template,
            input_template: array.input_template,
            label_template: array.label_template
            }) %>
            <% }) %>
        <%} %>
    </div>


</div>