<% var _in = arguments[0]; %>

<div data-role="webrtc_container"></div>
<div data-role="waiter_container"></div>
<div data-role="tabs_container">
    <% if (_in.config && _in.config.byDataLocation) {
            for (var locationKey in _in.config.byDataLocation) { %>
    <%= _in.location_wrapper_template({
        config: _in.config.byDataLocation[locationKey],
        data: _in.data ? _in.data : {},
        icon_config: _in.icon_config,
        triple_element_template: _in.triple_element_template,
        button_template: _in.button_template,
        input_template: _in.input_template,
        label_template: _in.label_template,
        description: _in.description
    }) %>
    <% }
    } %>
    <div data-role="filter_container" class="background flex wrap"></div>
</div>