<div class="flex-outer-container p-fx">
    <form class="flex-inner-container form-small" data-role="registerForm">
        <% if (_in.config && _in.config.byDataLocation) {
                for (var locationKey in _in.config.byDataLocation) { %>
        <%= _in.location_wrapper_template({
            config: _in.config.byDataLocation[locationKey],
            data: _in.data ? _in.data : {},
            triple_element_template: _in.triple_element_template,
            button_template: _in.button_template,
            input_template: _in.input_template,
            label_template: _in.label_template
        }) %>
        <% }
        } %>
    </form>
</div>