<div class="flex-outer-container p-fx">
    <form class="flex-inner-container form-small" data-role="registerForm">
        <div class="w-100p p-t-b flex-sp-around">
            <button data-action="redirectToLogin" class="button_login" type="button">To login page</button>
        </div>
        <div class="w-100p p-t-b flex-sp-between">
            <div class="flex-item-w50p">User name:</div>
            <input class="flex-item-w50p" type="text" name="userName">
        </div>
        <div class="w-100p p-t-b flex-sp-between">
            <div class="flex-item-w50p">User password:</div>
            <input class="flex-item-w50p" type="password" name="userPassword">
        </div>
        <div class="w-100p p-t-b flex-sp-between">
            <div class="flex-item-w50p">Confirm user password:</div>
            <input class="flex-item-w50p" type="password" name="userPasswordConfirm">
        </div>
        <div class="w-100p p-t-b flex-sp-around">
            <button data-action="register" class="button_login" type="submit">Register</button>
        </div>
    </form>
</div>