<% var locations = [
    'chat_id_container', 'logger_massage', 'send_enter', 'chat_users_apply'];
    var _prepare = {
        data: _in.data ? _in.data : {},
        triple_element_template: _in.triple_element_template,
        button_template: _in.button_template,
        input_template: _in.input_template,
        label_template: _in.label_template,
        description: _in.description
    };
%>

<%  locations.forEach(function(loc) {
    _prepare.config = _in.config.byDataLocation[loc]; %>
    <%= _in.location_wrapper_template(_prepare) %>
<% }); %>

<div class="textbox">
        <div class="title c-100">
            <% _prepare.config = _in.config.byDataLocation.size_container; %>
            <%= _in.location_wrapper_template(_prepare) %>
        </div>
        <% _prepare.config = _in.config.byDataLocation.size; %>
        <%= _in.location_wrapper_template(_prepare) %>
</div>



