.panel {
  height: 100%;
  max-width: 700px !important;
  &.right-panel {
    box-shadow: -4px 0px 10px 3px rgba(109, 76, 65, 0.7);
  }
  &.left-panel {
    box-shadow: 4px 0px 10px 3px rgba(109, 76, 65,0.7);
  }
}

.clear {
  clear: both;
}

.animate{
  transition: left  0.2s ease, right  0.2s ease;
}

.max-height-0{
  overflow: hidden;
  background: @50;
  transition: max-height  0.2s ease-out;
&:hover{

}
  &.max-height-auto{
    transition: max-height 0.5s ease-in;
  }
}

.transition-all{
  transition: all  0.2s ease;
  &.rotate-90{
    transform: rotate(90deg);
  }
}
