<% var _in = arguments[0]; %>
<div class="flex-sp-start p-rel margin-t-b">
    <div class="message flex-item-1-auto">
        <%= _in.message.innerHTML %>
        <div class="date-format">
            <%if (_in.message.id) { %>
            <% var time = new Date(_in.message.id);%>
            <%= time.toISOString()%>
            <%}%>
        </div>
    </div>

</div>