<% var _in = arguments[0]; %>
<div class="flex-sp-around margin-t-b">
    <%if (_in.messageConstructor.isOwnMessage(_in.message)) {%>
        <div class="message myMessage flex-item-1-auto flex-dir-col flex-sp-between">
            <div><%= _in.message.innerHTML %></div>
            <div class="dateFormat">
                <%if (_in.message.deviceIds[_in.deviceId].dateTime) { %>
                <% var time = new Date(_in.message.deviceIds[_in.message.id].dateTime);%>
                <%= time.toISOString()%>
                <%}%>
            </div>
        </div>
    <div class="width-40px flex-just-center"><img src="img\app\6.ico" width="35px" height="35px" class="border-radius-5"></div>
    <%} else {%>
        <div class="width-40px flex-just-center"><img src="img\app\3.ico" width="35px" height="35px" class="border-radius-5"></div>
        <div class="message flex-item-1-auto flex-dir-col flex-sp-between">
            <div><%= _in.message.innerHTML %></div>
            <div class="dateFormat">
                <%if (_in.message.deviceIds[_in.deviceId].dateTime) { %>
                <% var time = new Date(_in.message.deviceIds[_in.deviceId].dateTime);%>
                <%= time.toISOString()%>
                <%}%>
            </div>
        </div>
    <%}%>
</div>
