<svg width="20" height="15" viewBox="-8 -42 44 23" overflow="visible">
    <g transform="matrix(1 0 0 -1 0 0)" color="rgb(0,0,0)" fill="none">
        <ellipse color="#000080" stroke="currentColor" stroke-width="0.2em" cx="23.5" cy="24.4" rx="18"
                 ry="15"></ellipse>
        <line x1="9.5" y1="24" x2="37.5" y2="24" color="#000080" stroke="currentColor" stroke-width="0.2em"></line>
        <line x1="30.5" y1="17.145" x2="15.5" y2="17.145" color="#000080" stroke="currentColor"
              stroke-width="0.2em"></line>
        <line x1="16" y1="30.5" x2="31" y2="30.5" color="#000080" stroke="currentColor" stroke-width="0.2em"></line>
        <line x1="-20" y1="21.59" x2="0" y2="21.59" color="#008000" stroke="currentColor" stroke-width="0.3em"></line>
        <line x1="-10" y1="11" x2="-10" y2="33" color="#008000" stroke="currentColor" stroke-width="0.3em"></line>
    </g>
</svg>