<svg width="20" height="15" viewBox="-5 -54 62 52" overflow="visible">
    <g transform="matrix(1 0 0 -1 0 0)" fill="none">
        <ellipse color="#000080" stroke="currentColor" stroke-width="0.25em" cx="4" cy="39" rx="21" ry="9"/>
        <ellipse color="#4682b4" stroke="currentColor" stroke-width="0.25em" cx="40" cy="17" rx="18" ry="13" transform="rotate(1.5 40 17)"/>
        <path color="#4682b4" stroke="currentColor" stroke-width="0.25em" d="M 46.4 5 A 14 10 4.5 1  1 57 21"/>
        <line x1="-13" y1="34" x2="0" y2="20" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="21" y1="34" x2="8" y2="20" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="0" y1="20" x2="8" y2="20" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="8" y1="0" x2="8" y2="20" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="0" y1="20" x2="0" y2="0" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="8" y1="0" x2="0" y2="0" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="29" y1="21" x2="50" y2="21" color="#4682b4" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="57" y1="14" x2="67" y2="14" color="#4682b4" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="29" y1="14" x2="50" y2="14" color="#4682b4" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="54" y1="9" x2="68" y2="9" color="#4682b4" stroke="currentColor" stroke-width="0.25em"/>
    </g>
</svg>