<svg width="20" height="15" viewBox="-30 -55 85 20" overflow="visible">
    <g transform="matrix(1 0 0 -1 0 0)">
        <line x1="7" y1="30" x2="41" y2="30" color="#000080" stroke="currentColor" stroke-width="0.25em"></line>
        <line x1="7" y1="15" x2="41" y2="15" color="#000080" stroke="currentColor" stroke-width="0.25em"></line>
        <line x1="17" y1="67" x2="48" y2="45" color="#000080" stroke="currentColor" stroke-width="0.25em"></line>
        <line x1="17" y1="67" x2="17" y2="45" color="#000080" stroke="currentColor" stroke-width="0.25em"></line>
        <line x1="48" y1="45" x2="17" y2="45" color="#000080" stroke="currentColor" stroke-width="0.25em"></line>
        <line x1="0" y1="0" x2="48" y2="0" color="#000080" stroke="currentColor" stroke-width="0.25em"></line>
        <line x1="48" y1="0" x2="48" y2="45" color="#000080" stroke="currentColor" stroke-width="0.25em"></line>
        <line x1="0" y1="0" x2="0" y2="67" color="#000080" stroke="currentColor" stroke-width="0.25em"></line>
        <line x1="0" y1="67" x2="17" y2="67" color="#000080" stroke="currentColor" stroke-width="0.25em"></line>
    </g>
</svg>