<svg width="20" height="15" viewBox="0 -61  47 49" overflow="visible">
    <g transform="matrix(1 0 0 -1 0 0)" color="rgb(0,0,0)" stroke="currentColor" fill="none" stroke-width="0.0135">
        <ellipse color="#000080" stroke="currentColor" stroke-width="0.25em" cx="23.5" cy="24" rx="18" ry="15"/>
        <line x1="9.5" y1="24" x2="37.5" y2="24" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="30.5" y1="17.145" x2="15.5" y2="17.145" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="16" y1="30.5" x2="31" y2="30.5" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="0" y1="0" x2="47" y2="0" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="0" y1="0" x2="0" y2="61" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="0" y1="61" x2="26" y2="61" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="47" y1="45" x2="26" y2="61" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="47" y1="0" x2="47" y2="45" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="26" y1="61" x2="26" y2="45" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="47" y1="45" x2="26" y2="45" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
    </g>
</svg>