<svg width="20" height="15" viewBox="0 -40 42 35" overflow="visible">
    <g transform="matrix(1 0 0 -1 0 0)">
        <line x1="13" y1="1" x2="40" y2="1" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="40" y1="1" x2="40" y2="36" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="40" y1="36" x2="13" y2="36" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="13" y1="36" x2="13" y2="24" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="13" y1="1" x2="13" y2="13" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="0" y1="19" x2="23" y2="19" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="23" y1="9" x2="23" y2="29" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="23" y1="29" x2="34" y2="20" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="23" y1="9" x2="34" y2="20" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
    </g>
</svg>