<svg width="20" height="15" viewBox="-40 -40 42 35" overflow="visible">
    <g transform="matrix(1 0 0 -1 0 0)">
        <line x1="-27" y1="0" x2="0" y2="0" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="0" y1="0" x2="0" y2="35" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="0" y1="35" x2="-27" y2="35" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="-27" y1="35" x2="-27" y2="23" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="-27" y1="0" x2="-27" y2="12" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="-31" y1="18" x2="-17" y2="18" color="r" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="-17" y1="8" x2="-17" y2="28" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="-17" y1="28" x2="-6" y2="18" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="-17" y1="8" x2="-6" y2="18" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="-47" y1="15.5" x2="-41" y2="10.5" color="#008000" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="-41" y1="10.5" x2="-31" y2="28" color="#008000" stroke="currentColor" stroke-width="0.25em"/>
    </g>
</svg>