<svg  width="20" height="15" viewBox="10 -55 72 37" overflow="visible">
    <g transform="matrix(1 0 0 -1 0 0)">
        <line x1="0" y1="57" x2="46" y2="21" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="46" y1="21" x2="92" y2="57" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="0" y1="0" x2="35" y2="30" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="57" y1="30" x2="92" y2="0" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="0" y1="57" x2="0" y2="0" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="0" y1="0" x2="92" y2="0" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="92" y1="0" x2="92" y2="57" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="0" y1="57" x2="92" y2="57" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
    </g>
</svg>