

    <svg viewBox="0 -25  40 25" xmlns="http://www.w3.org/2000/svg" version="1.0" overflow="visible">
        <defs>
            <g id="U0">
                <line x1="0" y1="0" x2="40" y2="0" color="rgb(0,0,255)" stroke="currentColor" id="ID_6F" stroke-width="0.6mm"/>
                <line x1="40" y1="0" x2="40" y2="25" color="rgb(0,0,255)" stroke="currentColor" id="ID_70" stroke-width="0.6mm"/>
                <line x1="40" y1="25" x2="0" y2="25" color="rgb(0,0,255)" stroke="currentColor" id="ID_71" stroke-width="0.6mm"/>
                <line x1="0" y1="25" x2="0" y2="0" color="rgb(0,0,255)" stroke="currentColor" id="ID_72" stroke-width="0.6mm"/>
            </g>
            <g id="ID__#42_Model_Space"/>
            <g id="ID__#42_Paper_Space0"/>
            <g id="ID__#42_Paper_Space"/>
        </defs>
        <g id="draft" transform="matrix(1 0 0 -1 0 0)" stroke-width="0.008125">
            <g id="РЎРёСЃС_#8218_РµРјРЅС_#8249_Р_#8470__#32_СЃР_#187_РѕР_#8470_" color="rgb(0,0,0)" stroke="currentColor" fill="none" stroke-width="0.008125"/>
            <g id="ID_0" color="rgb(0,0,0)" stroke="currentColor" fill="none" stroke-width="0.008125">
                <line x1="20.14015245647665" y1="-56.60388679233962" x2="20.14015245647667" y2="56.60388679233962" color="rgb(192,192,192)" stroke="currentColor" id="ID_79"/>
                <line x1="-112.63271453234931" y1="0.0" x2="0.5750590523299337" y2="0.0" color="rgb(192,192,192)" stroke="currentColor" id="ID_7A"/>
                <line x1="0" y1="25" x2="20.14015245647666" y2="10.14750850624165" color="rgb(0,0,255)" stroke="currentColor" id="ID_75" stroke-width="0.6mm"/>
                <line x1="20.14015245647666" y1="10.14750850624165" x2="40" y2="25" color="rgb(0,0,255)" stroke="currentColor" id="ID_76" stroke-width="0.6mm"/>
                <line x1="0" y1="0" x2="14.71610559809188" y2="14.14750850624165" color="rgb(0,0,255)" stroke="currentColor" id="ID_77" stroke-width="0.6mm"/>
                <line x1="40" y1="0" x2="25.4887089735753" y2="14.14750850624165" color="rgb(0,0,255)" stroke="currentColor" id="ID_78" stroke-width="0.6mm"/>
                <use transform="translate(0 0)" id="ID_6D" stroke-width="0.008125" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#U0"/>
            </g>
        </g>
    </svg>