<svg width="20" height="15" viewBox="-10 -35 60 20" overflow="visible">
    <g transform="matrix(1 0 0 -1 0 0)" fill="none">
        <path d="M 38 0 A 19 19 0 1  1  0 0" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <path d="M 6 15 A 14 14 0 0  1  -19 6" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <path d="M 57 6 A 14 14 0 0  1  32 14" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <circle cx="19" cy="33" r="10" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <circle cx="43" cy="30" r="7" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <circle cx="-5" cy="30" r="7" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="0" y1="0" x2="38" y2="0" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="37" y1="6" x2="57" y2="6" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
        <line x1="-19" y1="6" x2="0" y2="6" color="#000080" stroke="currentColor" stroke-width="0.25em"/>
    </g>
</svg>