<svg width="20" height="15" viewBox="-10 -35 60 20" overflow="visible">

    <g id="draft" transform="matrix(1 0 0 -1 0 0)" stroke-width="0.012637488706195573">
        <g id="ID_0" color="rgb(0,0,0)" stroke="currentColor" fill="none" stroke-width="0.012637488706195573">
            <path d="M 38 0 A 19 19 0 1  1  0 0" color="#000080" stroke="currentColor" id="ID_6E" stroke-width="0.25em"/>
            <circle cx="19" cy="33" r="10" color="#000080" stroke="currentColor" id="ID_6F" stroke-width="0.25em"/>
            <line x1="0" y1="0" x2="38" y2="0" color="#000080" stroke="currentColor" id="ID_6D" stroke-width="0.25em"/>
        </g>
    </g>
</svg>