<% var array = arguments[0]; %>

<% var array_create_chat = array.config.filter( function(obj){ return obj.data_mode === "CREATE_CHAT" } ) %>
<% var array_join_chat = array.config.filter( function(obj){ return obj.data_mode === "JOIN_CHAT" } ) %>
<% var array_my_chats = array.config.filter( function(obj){ return obj.data_mode === "MY_CHATS" } ) %>

<div>
    <% if (array.mode === 'CREATE_CHAT') { %>
        <% array_create_chat.forEach(function (obj) { %>
            <%= array.triple_element_template({
            element: obj,
            button_template: array.button_template,
            input_template: array.input_template,
            label_template: array.label_template
            }) %>
        <% }) %>
    <% } %>

    <% if (array.mode === 'JOIN_CHAT') { %>
        <% array_join_chat.forEach(function (obj) { %>
        <%= array.triple_element_template({
        element: obj,
        button_template: array.button_template,
        input_template: array.input_template,
        label_template: array.label_template,
        textarea_template: array.textarea_template,
        }) %>
        <% }) %>
    <% } %>

    <% if (array.mode === 'MY_CHATS') { %>
    <ul>
        <% array_my_chats.forEach(function (obj) { %>
        <li>
            1152
        </li>
        <% }) %>
    </ul>
    <% } %>
</div>

