
<% var array = arguments[0]; %>
<% var array_choice_nrte = array.config.filter( function(obj){ return obj.redraw_mode === "nrte" } ) %>
<% var array_choice_rte = array.config.filter( function(obj){ return obj.redraw_mode === "rte" } ) %>

<div>
    <% if(array.mode === 'nrte') { %>


        <% array_choice_nrte.forEach( function (_config) { %>
            <%= array.triple_element_template({
            config: _config,
            button_template: array.button_template,
            input_template: array.input_template,
            label_template: array.label_template
            }) %>
        <% }) %>


    <% } else { %>
        <% array_choice_rte.forEach( function (_config) { %>
            <%= array.triple_element_template({
            config: _config,
            button_template: array.button_template,
            input_template: array.input_template,
            label_template: array.label_template
            }) %>
        <% }) %>
    <%} %>
</div>