<% var array = arguments[0]; %>

<% var array_detail_view = array.config.filter( function(config){ return config.data_mode === "DETAIL_VIEW" } ) %>

<% var byDataLocation = {}; %>
<% array_detail_view.forEach(function(_config) { %>
<%  if (!byDataLocation[_config.data_location]) { %>
<%  byDataLocation[_config.data_location] = []; %>
<% }%>
<%  byDataLocation[_config.data_location].push(_config); %>
<% }); %>


<% if (byDataLocation['user_id'].length) { %>
<div class="w-100p flex-sp-between">
    <% byDataLocation['user_id'].forEach(function (config) { %>
    <%= array.triple_element_template({
    config: config,
    data: array.data,
    button_template: array.button_template,
    input_template: array.input_template,
    label_template: array.label_template
    }) %>
    <% }) %>
</div>
<%} %>

<% if (byDataLocation['navbar'].length) { %>
<div class="w-100p flex-sp-around">
    <% byDataLocation['navbar'].forEach(function (config) { %>
    <%= array.triple_element_template({
    config: config,
    data: array.data,
    button_template: array.button_template,
    input_template: array.input_template,
    label_template: array.label_template
    }) %>
    <% }) %>
</div>
<%} %>
