<div data-role="message_container" class="modal-controls message">
    <div class="container" contenteditable="true"></div>
</div>
<div class="modal-controls" data-role="controls_container">
    <div class="modal-main-btn">
        <% var array = arguments[0]; %>
        <% _.each(array.editor_navbar_config, function (obj) { %>
            <%= array.triple_element_template({
            element: obj,
            button_template: array.button_template,
            input_template: array.input_template,
            label_template: array.label_template
            }) %>
        <% }) %>
    </div>
    <div data-action="btnEditPanel" class="btnEditPanel"></div>
</div>