<% var array = arguments[0]; %>
<% array.config.forEach(function (btn) { %>

<% if(btn.element === "button") { %>
<button class="<%= btn.class%>" <% if(btn.param){ %> param <%}%> name="<%= btn.name%>" data-role="<%= btn.data_role%>" >
    <% var icon;
        array.icons.every(function(_icon) {
            if (_icon.icon === btn.icon) {
                icon = _icon;
            }
        return !icon;
    } ); %>

    <% if (icon) { %>
        <%= icon.svg %>
    <% } %>
</button>
<% } %>

<% if(btn.element === "input") { %>
<label class="<%= btn.class%>"><input type="<%= btn.type %>" name="<%= btn.name%>" class="check" data-role="<%= btn.data_role%>"/> <%= btn.text %></label>
<% } %>

<% }) %>