<% var array = arguments[0]; %>
<% var array_date_from = array.filter_navbar_config.filter( function(obj){ return obj.service_id === "date_from" } ) %>
<% var array_date_to = array.filter_navbar_config.filter( function(obj){ return obj.service_id === "date_to" } ) %>
<% var array_pagination = array.filter_navbar_config.filter( function(obj){ return obj.service_id === "pagination" } ) %>
<% var array_per_page = array.filter_navbar_config.filter( function(obj){ return obj.service_id === "per_page" } ) %>
<% var array_per_page_nrte = array_per_page.filter( function(obj){ return obj.redraw_mode === "nrte" } ) %>
<% var array_per_page_rte = array_per_page.filter( function(obj){ return obj.redraw_mode === "rte" } ) %>

<div class="flex-item flex">
    <div class="elements">
        <% array_date_from.forEach(function (_config) { %>
        <%= array.triple_element_template({
        config: _config,
        button_template: array.button_template,
        input_template: array.input_template,
        label_template: array.label_template
        }) %>
        <% }) %>
        <% array_date_to.forEach(function (_config) { %>
        <%= array.triple_element_template({
        config: _config,
        button_template: array.button_template,
        input_template: array.input_template,
        label_template: array.label_template
        }) %>
        <% }) %>
    </div>
</div>

<div class="flex-item flex">
    <div class="elements">
        <% array_pagination.forEach(function (_config) { %>
        <%= array.triple_element_template({
        config: _config,
        button_template: array.button_template,
        input_template: array.input_template,
        label_template: array.label_template
        }) %>
        <% }) %>
    </div>
    <div class="elements">
        <% if(array.mode === 'nrte') { %>
            <% array_per_page_nrte.forEach(function (_config) { %>
                <%= array.triple_element_template({
                config: _config,
                button_template: array.button_template,
                input_template: array.input_template,
                label_template: array.label_template
                }) %>
            <% }) %>
        <% } else { %>
            <% array_per_page_rte.forEach(function (_config) { %>
            <%= array.triple_element_template({
            config: _config,
            button_template: array.button_template,
            input_template: array.input_template,
            label_template: array.label_template
            }) %>
            <% }) %>
        <%} %>
    </div>


</div>