<div data-role="header_container" class="modal-header">
    <% var _in = arguments[0]; %>
    <div>
        <h3><%= _in.description %></h3>
        <hr/>
    </div>
    <% if (_in.config) { %>
    <div data-role="btnHeaderPanel">
        <% _in.config.forEach(function (btn) { %>
        <button class="<%= btn.class%>" name="<%= btn.name%>" data-role="<%= btn.data_role%>" data-action="<%= btn.data_action%>"> <%= btn.text%></button>
        <%})%>
    </div>
    <% } %>
    <div data-role="filter_container" class="background hide flex wrap"></div>
</div>


