<% var array = arguments[0]; %>
<% array.config.forEach(function (btn) { %>

<% if(btn.element === "button") { %>
<button class="<%= btn.class%>" name="<%= btn.name%>" <% if(btn.disable === true){ %> disabled <%}%> 
<% if(btn.data_location){ %> data-location="<%= btn.data_location%>" <%}%>
data-role="<%= btn.data_role%>" value="<%= btn.value%>"><%= btn.text%>
</button>
<% } %>

<% if(btn.element === "label") { %>
<label data-role="<%= btn.data_role%>" class="<%= btn.class%>" value="<%= btn.value%>" ><%= btn.text%></label>
<% } %>

<% }) %>