<% var array = arguments[0]; %>
<% console.log(array)%>
<% var array_reading = array.config.filter( function(obj){ return obj.mode === "reading" } ) %>
<% var array_editing = array.config.filter( function(obj){ return obj.mode === "editing" } ) %>



    <% if(array.mode === 'reading') { %>
        <% _.each(array_reading, function (obj) { %>
        <%= array.triple_element_template({
        element: obj,
        button_template: array.button_template,
        input_template: array.input_template,
        label_template: array.label_template
        }) %>
        <% }) %>
    <% } else { %>
    <% _.each(array_editing, function (obj) { %>
        <%= array.triple_element_template({
        element: obj,
        button_template: array.button_template,
        input_template: array.input_template,
        label_template: array.label_template
        }) %>
        <% }) %>
    <%} %>




